@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-text');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  /* font-family: 'Neue Haas Grotesk Text', sans-serif; */
  /* letter-spacing: .3px; */
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 500px;
}

body {
  background-color: white;
  color: rgb(54, 49, 50);
}